<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ciputra.pavmeals">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/thumbnail_pavmeals"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/thumbnail_pavmeals"
        android:supportsRtl="true"
        android:theme="@style/Theme.PAVmeals">
        <activity android:name=".android.DetailsActivity" />
        <activity android:name=".android.ResultActivity" />
        <activity android:name=".android.MainActivity"/>
        <activity android:name=".android.SignupActivity" />
        <activity android:name=".android.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>